@if(loading){
    <div class="loadingBackscreen">
        <div class="loadingContainer">
            <po-loading-icon p-size="lg"></po-loading-icon>
            <p>Buscando Integrações...</p>
            <po-button p-label="Cancelar" (p-click)="cancelRequest()" style="margin-top: 20px;"></po-button>
        </div>        
    </div>
}
<div style="height: 100%; width: 100%; display: flex; padding: 10px 0px 8px 8px;">
    <div style="height: 100%; flex: 1; display: flex; flex-direction: column; gap: 10px;">
    
        <div class="groupItem" style="height: 50px; display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
                <div style="width: 25px; height: 25px; border-radius: 50px;" [class]="pasoeIsConnected"></div>
                
                @if(pasoeIsConnected == "pasoeConnecting"){
                    <p><strong>PASOE - Tentando conectar </strong></p>
                }

                @if(pasoeIsConnected == "pasoeON"){
                    <p><strong>PASOE Conectado</strong></p>
                }

                @if(pasoeIsConnected == "pasoeOFF"){
                    <p><strong>PASOE Desconectado</strong></p>
                }

                @if(pasoeIsConnected == "pasoeWARNING"){
                    <p><strong>PASOE Conectado (bancos indisponiveis: {{bancosDesconectados}}) </strong></p>
                }                
            </div>
            
            <div style="display: flex; align-items: center; justify-content: center; gap: 5px">
                <div style="padding-top: 8px;">
                    <po-switch name="switch" [(ngModel)]="autoRefreshSwitch" (p-change)="changeAutoRefresh($event)" > </po-switch>
                </div>                
                <p>Verificar novas entradas</p>
                @if(lastUpdate){
                    <p>-</p>
                    <p>{{lastUpdate.toLocaleString()}}</p>
                    <p>-</p>
                    <p><strong>{{this.totalNovosRegistros}}</strong></p>
                }
                
            </div>
        </div>
        
        <div #listaIntegContainer class="groupItem" style="flex: 2; padding: 0;">
            <po-table
                #listaIntegTable
                id="listaIntegTable"
                [p-hide-action-fixed-columns]="false"
                [p-hide-columns-manager]="true"
                [p-sort]="true"
                [p-striped]="true"
                [p-spacing]="spacingColumns"
                [p-selectable]="true"
                [p-single-select]="true"
                [p-height]="listaIntegContainer.offsetHeight - 2"
                (p-selected)="clickInIntegration($event)"
                (p-unselected)="clickOutIntegration()"
    
                [p-columns]="integracaoTableColumns"
                [p-items]="integrations"
            >
                <ng-template p-table-column-template p-property="situacao" let-value style="max-width: 50px;">
                    <div style="display: flex; align-items: center; justify-content: center; position: relative;"> 
                        @if(value.situacao == "OK"){
                            <po-tag [p-value]="value.situacao" p-color="green" p-text-color="white"> </po-tag>
                            @if(value.qtdFilhos > 0){
                                <po-badge
                                    style="position: absolute; left: calc(50% + 12px); top: 0px"
                                    p-color="color-05"
                                    [p-value]="value.qtdFilhos"
                                ></po-badge>
                            }
                        }
    
                        @else {
                            <po-tag [p-value]="value.situacao" p-color="red" p-text-color="white"> </po-tag>
                        }
                        
                    </div>
                </ng-template>

                <ng-template
                    p-table-row-template
                    let-rowItem
                    let-i="rowIndex"
                    [p-table-row-template-arrow-direction]="directionTableTemplate"
                >
                        @if(rowItem.detail.length > 0){
                            @if(rowItem.tipo == "Envio Planejado SIP x Datasul"){
                                <div style="border: 1px solid #ccc; border-top: none;">
                                    <po-table
                                        #tablePlanejadoSipDts
                                        id="detailPoTable"
                                        [p-hide-columns-manager]="true"
                                        [p-sort]="true"
                                        [p-striped]="true"
                                        [p-spacing]="spacingColumns"
                                        [p-selectable]="true"
                                        [p-single-select]="true"
                                        (p-selected)="clickInDetail($event)"
                                        (p-unselected)="clickOutDetail()"
                            
                                        [p-columns]="envPlanSipDts"
                                        [p-items]="rowItem.detail"
                                    >
                                        <ng-template p-table-column-template p-property="situacao" let-value >
                                            <div style="display: flex; align-items: center; justify-content: center;"> 
                                                @if(value == "OK"){
                                                    <po-tag [p-value]="value" p-color="green" p-text-color="white"> </po-tag>
                                                }
                            
                                                @else {
                                                    <po-tag [p-value]="value" p-color="red" p-text-color="white"> </po-tag>  
                                                }
                                                
                                            </div>
                                        </ng-template>
                                    </po-table>
                                </div>
                            }
    
                            @else if(rowItem.tipo == "Envio Movimentação SIP x Datasul"){
                                <div style="border: 1px solid #ccc; border-top: none;">
                                    <po-table
                                        #tableMovimentacaoSipDts
                                        id="detailPoTable"
                                        [p-hide-columns-manager]="true"
                                        [p-sort]="true"
                                        [p-striped]="true"
                                        [p-spacing]="spacingColumns"
                                        [p-selectable]="true"
                                        [p-single-select]="true"
                                        (p-selected)="clickInDetail($event)"
                                        (p-unselected)="clickOutDetail()"
                            
                                        [p-columns]="envMovSipDts"
                                        [p-items]="rowItem.detail"
                                    >
                                        <ng-template p-table-column-template p-property="situacao" let-value >
                                            <div style="display: flex; align-items: center; justify-content: center;"> 
                                                @if(value == "OK"){
                                                    <po-tag [p-value]="value" p-color="green" p-text-color="white"> </po-tag>
                                                }
                            
                                                @else {
                                                    <po-tag [p-value]="value" p-color="red" p-text-color="white"> </po-tag>  
                                                }
                                                
                                            </div>
                                        </ng-template>
                                    </po-table>
                                </div>
                            }
    
                            @else if(rowItem.tipo == "Envio Marcações Carol x Datasul/SIP"){
                                <div style="border: 1px solid #ccc; border-top: none;">
                                    <po-table
                                        #tableMarcacaoCarolDtsSip
                                        id="detailPoTable"
                                        [p-hide-columns-manager]="true"
                                        [p-sort]="true"
                                        [p-striped]="true"
                                        [p-spacing]="spacingColumns"
                                        [p-selectable]="true"
                                        [p-single-select]="true"
                                        (p-selected)="clickInDetail($event)"
                                        (p-unselected)="clickOutDetail()"
                            
                                        [p-columns]="envMarCarolDtsIsp"
                                        [p-items]="rowItem.detail"
                                    >
                                        <ng-template p-table-column-template p-property="situacao" let-value >
                                            <div style="display: flex; align-items: center; justify-content: center;"> 
                                                @if(value == "OK"){
                                                    <po-tag [p-value]="value" p-color="green" p-text-color="white"> </po-tag>
                                                }
                            
                                                @else {
                                                    <po-tag [p-value]="value" p-color="red" p-text-color="white"> </po-tag>  
                                                }
                                                
                                            </div>
                                        </ng-template>

                                        <ng-template p-table-column-template p-property="onTimeInfo" let-value >
                                            <div style="display: flex; align-items: center; justify-content: center;">                                                
                                                    @if(value != "[]"){
                                                        <button (click)="openModalMarcacoes(value)" style="font-size: 1.5rem; background: none; border: none">
                                                            <po-icon p-icon="po-icon-calendar" style="color: var(--color-01); cursor: pointer;"></po-icon>
                                                        </button>
                                                    }

                                                    @else {
                                                        <button style="font-size: 1.5rem; background: none; border: none">
                                                            <po-icon p-icon="po-icon-calendar" style="color: red; cursor: pointer;" title="Não ha batidas"></po-icon>
                                                        </button>
                                                    }                                                
                                            </div>
                                        </ng-template>
                                    </po-table>
                                </div>
                            }
    
                            @else if(rowItem.tipo == "Envio Marcações Cingo x SIP"){                            
                                <div style="border: 1px solid #ccc; border-top: none;">
                                    <po-table
                                        [p-hide-columns-manager]="true"
                                        [p-sort]="true"
                                        [p-striped]="true"
                                        [p-spacing]="spacingColumns"
                                        [p-selectable]="true"
                                        [p-single-select]="true"
                            
                                        [p-columns]="envMovSipDts"
                                        [p-items]="rowItem.detail"
                                    >
                                    </po-table>
                                </div>
                            }
                        }

                        @else {
                            <div style="position: relative; min-height: 24px; width: 100%;">
                                <div style="position: absolute; left: -8px; top: -8px; width: calc(100% + 16px); min-height: 40px; display: flex; align-items: center; padding: 0px 10px;">
                                    <strong>Nenhuma Integração para exibir.</strong>
                                </div>
                            </div>
                        }
                </ng-template>
            </po-table>
        </div>

        <div id="dadosTela" class="groupItem">
            <div class="dadosTelaGroup">
                <span><strong>Tentativas de Integrações</strong></span>
                <input type="number" class="po-input" readonly [value]="numeraisIntegracao(1)">
            </div>   
            
            <div class="dadosTelaGroup">
                <span><strong>Integrações com erro</strong></span>
                <input type="number" class="po-input" readonly [value]="numeraisIntegracao(2)">
            </div>   

            <div class="dadosTelaGroup">
                <span><strong>Integrações sucesso</strong></span>
                <input type="number" class="po-input" readonly [value]="numeraisIntegracao(3)">
            </div>   
        </div>
        
        <div style="flex: 1; display: flex; gap: 10px; position: relative;">
            <span style="position: absolute; left: 10px; top: 5px; font-weight: 600;">Mensagem</span>

            <div class="groupItem" style="flex: 1; overflow-y: hidden; padding-top: 40px;">
                <textarea style="border: none; width: 100%; height: 100%; resize:none; overflow-y: scroll;" readonly>{{retornoIntegracao | json}}</textarea>
            </div>
    
            <span style="position: absolute; left: calc(50% + 15px); top: 5px; font-weight: 600;">Retorno Integração - {{tipoJson}}</span>
    
            <po-select style="position: absolute; right: 85px; top: 10px; font-weight: 600;"
                [ngModel]="tipoJson"
                (ngModelChange)="tipoJson = $event"
                [p-options]="
                    [
                        {label: 'Json Enviado', value: 'Json Enviado'},
                        {label: 'Json Retorno', value: 'Json Retorno'},
                    ]"
            >
            </po-select>

            @if(tipoJson == "Json Enviado"){
                @if(jsonEnviado){
                    <po-button style="position: absolute; right: 25px; top: 10px;" 
                        p-icon="po-icon-download" title="Download Json" (p-click)="saveJson(jsonEnviado, 'json_enviado')"
                    ></po-button>
                } 
                
                @else {
                    <po-button style="position: absolute; right: 25px; top: 10px;" 
                        p-icon="po-icon-download" title="Download Json" [p-disabled]="true"
                    ></po-button>
                }
            }
            
            @if(tipoJson == "Json Retorno"){
                @if(jsonRetorno){
                    <po-button style="position: absolute; right: 25px; top: 10px;" 
                        p-icon="po-icon-download" title="Download Json" (p-click)="saveJson(jsonRetorno, 'json_retorno')"
                    ></po-button>
                }

                @else {
                    <po-button style="position: absolute; right: 25px; top: 10px;" 
                        p-icon="po-icon-download" title="Download Json" [p-disabled]="true"
                    ></po-button>
                }
            }
            
            <div class="groupItem" style="flex: 1; overflow-y: hidden; padding-top: 40px;">
                @if(tipoJson == "Json Enviado"){
                    <textarea style="border: none; width: 100%; height: 100%; resize:none; overflow-y: scroll;" readonly>{{jsonEnviado | json}}</textarea>
                }
                
                @if(tipoJson == "Json Retorno"){
                    <textarea style="border: none; width: 100%; height: 100%; resize:none; overflow-y: scroll;" readonly>{{jsonRetorno | json}}</textarea>
                }
            </div>
            
        </div>
    </div>

    <div style="height: calc(100% - 10px); width: 70px; display: flex; flex-direction: column; align-items: center;">
        <po-button class="po-xl-12 po-lg-12 po-md-12 po-sm-12 po-mb-1" (p-click)="openParameter()" p-icon="po-icon-settings" title="Parâmetros"></po-button>
        <po-button class="po-xl-12 po-lg-12 po-md-12 po-sm-12 po-mb-1" (p-click)="openFilter()" p-icon="po-icon-filter" title="Filtros"></po-button>
        <po-button class="po-xl-12 po-lg-12 po-md-12 po-sm-12 po-mb-1" [p-disabled]="firstSearch" (p-click)="refresh()" p-icon="po-icon-refresh" title="Atualizar"></po-button>
        <po-button class="po-xl-12 po-lg-12 po-md-12 po-sm-12 po-mb-1" [p-disabled]="!(integrations.length > 0)" (p-click)="modalExportExcel.open()" p-icon="po-icon-doc-xls" title="Exportar para Excel"></po-button>
    </div>
</div>

<!-- MODAIS -->
    
<!-- MODAL FILTROS -->
<po-modal #modalFilters p-title="Filtros">
    <po-container>
        <div class="po-row po-mb-1">
            <po-select class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                [ngModel]="filters.statusIntegracao"
                (ngModelChange)="filters.statusIntegracao = $event"
                name="Status"
                p-label="Status"
                [p-options]="
                    [
                        { label: 'TODOS', value: 'TODOS' },
                        { label: 'OK', value: 'OK' },
                        { label: 'ERRO', value: 'ERRO' }
                    ]"                
            ></po-select>
        </div>

        <div class="po-row">
            <po-datepicker class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                [(ngModel)]="filters.dtIniIntegracao"
                p-label="Data de Integração"
                p-format="dd/mm/yyyy"
                p-placeholder="01/01/0001"></po-datepicker>
    
            <po-datepicker class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                [(ngModel)]="filters.dtFimIntegracao"
                p-label=" "                
                p-placeholder="31/12/9999"></po-datepicker>        
        </div>

        <div class="po-row po-mb-1">
            <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                [(ngModel)]="filters.horaIniIntegracao"
                p-label="Hora da integração"
                p-mask="99:99:99"
                p-mask-format-model="true"
                [p-maxlength]="8"
            ></po-input>
    
            <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                [(ngModel)]="filters.horaFimIntegracao"
                p-label=" "
                p-mask="99:99:99"
                p-mask-format-model="true"
                [p-maxlength]="8"
                p-placeholder="ZZZZZZZZ"
            ></po-input>
        </div>

        <div class="po-row po-mb-1">
            <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                [(ngModel)]="filters.empresaIni"
                p-label="Cod. Empresa"
                p-mask="99999999"
                p-mask-format-model="true"
                [p-maxlength]="8"
            ></po-input>

            <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                [(ngModel)]="filters.empresaFim"
                p-label=" "
                p-mask="99999999"
                p-mask-format-model="true"
                [p-maxlength]="8"
                p-placeholder="99999999"
            ></po-input>
        </div>

        <div class="po-row po-mb-1">
            <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                [(ngModel)]="filters.estabelIni"
                p-label="Cod. Estabelecimento"
                p-mask="99999999"
                p-mask-format-model="true"
                [p-maxlength]="8"
            ></po-input>

            <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                [(ngModel)]="filters.estabelFim"
                p-label=" "
                p-mask="99999999"
                p-mask-format-model="true"
                [p-maxlength]="8"
                p-placeholder="99999999"
            ></po-input>
        </div>

        <div class="po-row po-mb-1">
            <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                [(ngModel)]="filters.matriculaIni"
                p-label="Matricula"
                p-mask="999999999"
                p-mask-format-model="true"
                [p-maxlength]="9"
            ></po-input>

            <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                [(ngModel)]="filters.matriculaFim"
                p-label=" "
                p-mask="999999999"
                p-mask-format-model="true"
                [p-maxlength]="9"
                p-placeholder="999999999"
                p-placeholder="999999999"
            ></po-input>
        </div>
    </po-container>

    @if(filters.planejadoSipDts){
        <br/>
        <po-container>
            <div class="po-row">
                <span>Planejado SIP x DTS</span>
            </div>
            <div class="po-row">
                <po-datepicker class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.dataIniCalendarioPla"
                    p-label="Data Calendário"
                    p-format="dd/mm/yyyy"
                    p-placeholder="01/01/0001"></po-datepicker>
        
                <po-datepicker class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.dataFimCalendarioPla"
                    p-label=" "                
                    p-placeholder="31/12/9999"></po-datepicker>
            </div>
    
            <div class="po-row po-mb-1">
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.escalaIniPla"
                    p-label="Escala"
                    [p-maxlength]="8"
                ></po-input>
        
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.escalaFimPla"
                    p-label=" "
                    [p-maxlength]="8"
                ></po-input>
            </div>

            <div class="po-row po-mb-1">
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.kdiarioIniPla"
                    p-label="Kdiario"
                    [p-maxlength]="8"
                ></po-input>
        
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.kdiarioFimPla"
                    p-label=" "
                    [p-maxlength]="8"
                ></po-input>
            </div>

            <div class="po-row po-mb-1">
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.sindicatoIniPla"
                    p-label="Sindicato"
                    [p-maxlength]="8"
                ></po-input>
        
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.sindicatoFimPla"
                    p-label=" "
                    [p-maxlength]="8"
                ></po-input>
            </div>

            <div class="po-row po-mb-1">
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.postoIniPla"
                    p-label="Posto"
                    [p-maxlength]="8"
                ></po-input>
        
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.postoFimPla"
                    p-label=" "
                    [p-maxlength]="8"
                ></po-input>
            </div>
        </po-container>
    }

    @if(filters.movimentacaoSipDts){
        <br/>
        <po-container>
            <div class="po-row">
                <span>Movimentação SIP x DTS</span>
            </div>
            <div class="po-row">
                <po-datepicker class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.dataIniMarcacao"
                    p-label="Data da marcação"
                    p-format="dd/mm/yyyy"
                    p-placeholder="01/01/0001"></po-datepicker>
        
                <po-datepicker class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.dataFimMarcacao"
                    p-label=" "                
                    p-placeholder="31/12/9999"></po-datepicker>
            </div>
    
            <div class="po-row po-mb-1">
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.horaIniMarcacao"
                    p-label="Hora da marcação"
                    p-mask="99:99:99"
                    p-mask-format-model="true"
                    [p-maxlength]="8"
                ></po-input>
        
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.horaFimMarcacao"
                    p-label=" "
                    p-mask="99:99:99"
                    p-mask-format-model="true"
                    [p-maxlength]="8"
                    p-placeholder="ZZZZZZZZ"
                ></po-input>
            </div>

            <div class="po-row">
                <po-datepicker class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.dataIniProcessoMarcacao"
                    p-label="Data do Processo"
                    p-format="dd/mm/yyyy"
                    p-placeholder="01/01/0001"></po-datepicker>
        
                <po-datepicker class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.dataFimProcessoMarcacao"
                    p-label=" "                
                    p-placeholder="31/12/9999"></po-datepicker>
            </div>

            <div class="po-row po-mb-1">
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.tipoMovimentacaoMarcacao"
                    p-label="Tipo Movimentação"
                    [p-maxlength]="10"
                ></po-input>
        
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.turnoMarcacao"
                    p-label="Turno"
                    [p-maxlength]="10"
                ></po-input>
            </div>

            <div class="po-row po-mb-1">
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.tipoDeDiaMarcacao"
                    p-label="Tipo de dia"
                    [p-maxlength]="10"
                ></po-input>
        
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.situacaoAfastamento"
                    p-label="Situação de afastamento"
                    [p-maxlength]="10"
                ></po-input>
            </div>

            <div class="po-row po-mb-1">
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.cidMarcacao"
                    p-label="CID"
                    [p-maxlength]="10"
                ></po-input>
        
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.crmMarcacao"
                    p-label="CRM"
                    [p-maxlength]="10"
                ></po-input>
            </div>
        </po-container>
    }

    @if(filters.marcacoesCarolDtsSip){
        <br/>
        <po-container>
            <div class="po-row">
                <span>Marcações Carol X Datasul/Sip</span>
            </div>
            
            <div class="po-row">
                <po-datepicker class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.dataIniProcessoCarol"
                    p-label="Data do Processo"
                    p-format="dd/mm/yyyy"
                    p-placeholder="01/01/0001"></po-datepicker>
        
                <po-datepicker class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.dataFimProcessoCarol"
                    p-label=" "                
                    p-placeholder="31/12/9999"></po-datepicker>
            </div>

            <div class="po-row po-mb-1">
                <po-input class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
                    [(ngModel)]="filters.cpfCarol"
                    p-label="CPF"
                    p-mask="99999999999"
                    [p-maxlength]="11"
                ></po-input>
            </div>
        </po-container>
    }

    <po-modal-footer [p-disabled-align]="false">
        <po-button p-label="Resetar Filtros" (p-click)="resetFilters()"> </po-button>
        <po-button p-label="Cancelar" (p-click)="cancelFilter()"> </po-button>
        <po-button p-label="OK" (p-click)="okFilter()"> </po-button>
    </po-modal-footer>

</po-modal>


<!-- MODAL TIPO DE INTEGRAÇÃO -->
<po-modal #modalParameter p-title="Filtros" [p-hide-close]="true">
    <po-container>
        <div class="po-row">
            <po-checkbox [(ngModel)]="filters.planejadoSipDts" p-label="Envio Planejado SIP x Datasul" class="po-xl-6 po-lg-6 po-md-6 po-sm-12 po-mb-1"></po-checkbox>
            <po-checkbox [(ngModel)]="filters.movimentacaoSipDts" p-label="Envio Movimentação SIP x Datasul" class="po-xl-6 po-lg-6 po-md-6 po-sm-12 po-mb-1"></po-checkbox>
            <po-checkbox [(ngModel)]="filters.marcacoesCarolDtsSip" p-label="Envio Marcações Carol x Datasul/SIP" class="po-xl-6 po-lg-6 po-md-6 po-sm-12 po-mb-1"></po-checkbox>
            <po-checkbox [(ngModel)]="filters.marcacoesCingoSip" p-label="Envio Marcações Cingo x SIP" class="po-xl-6 po-lg-6 po-md-6 po-sm-12 po-mb-1"></po-checkbox>
        </div>
    </po-container>

    <br/>
    <po-container>
        <div class="po-row">
            <po-input class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
                [(ngModel)]="caminhoPasoe"
                p-label="Caminho Pasoe"
            ></po-input>
        </div>
    </po-container>

    <po-modal-footer [p-disabled-align]="false">
        <po-button p-label="Cancelar" (p-click)="cancelParameter()"> </po-button>
        <po-button p-label="OK" (p-click)="okParameter()"> </po-button>
    </po-modal-footer>

</po-modal>

<!-- MODAL BATIDAS -->
<po-modal #modalMarcacoes p-title="Marcações (Batidas)" [p-hide-close]="true">
    <po-container>
        <div class="po-row" class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <po-table style="width: 100%;"
                #tableMarcacaoDetail
                [p-hide-columns-manager]="true"
                [p-sort]="true"
                [p-striped]="true"
                [p-spacing]="spacingColumns"
                [p-selectable]="true"
                [p-single-select]="true"
    
                [p-columns]="columnMarcacoes"
                [p-items]="marcacoes"
            ></po-table>
        </div>
    </po-container>

    <po-modal-footer [p-disabled-align]="false">
        <po-button p-label="OK" (p-click)="okModalMarcacoes()"> </po-button>
    </po-modal-footer>
</po-modal>


<po-modal #modalExportExcel p-title="Exporta para Excel" [p-hide-close]="true">
    <po-container>
        <div class="po-row" class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <po-button class="po-xl-6 po-lg-6 po-md-6 po-sm-12 po-mb-1"
                p-label="Envio Planejado" [p-disabled]="!filters.planejadoSipDts" (p-click)="exportExcel(integrations, 'Envio Planejado SIP x Datasul')"></po-button>

            <po-button class="po-xl-6 po-lg-6 po-md-6 po-sm-12 po-mb-1"
                p-label="Envio Movimentação" [p-disabled]="!filters.movimentacaoSipDts" (p-click)="exportExcel(integrations, 'Envio Movimentação SIP x Datasul')"></po-button>

            <po-button class="po-xl-6 po-lg-6 po-md-6 po-sm-12 po-mb-1"
                p-label="Envio Carol" [p-disabled]="!filters.marcacoesCarolDtsSip" (p-click)="exportExcel(integrations, 'Envio Marcações Carol x Datasul/SIP')"></po-button>

            <po-button class="po-xl-6 po-lg-6 po-md-6 po-sm-12 po-mb-1"
                p-label="Envio Cingo" [p-disabled]="!filters.marcacoesCingoSip" (p-click)="exportExcel(integrations, 'Envio Marcações Cingo x SIP')"></po-button>
        </div>
    </po-container>

    <po-modal-footer [p-disabled-align]="false">
        <po-button p-label="Fechar" (p-click)="modalExportExcel.close()"> </po-button>
    </po-modal-footer>
</po-modal>